{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SkyBox API",
    "description" : "The SkyBox APIs allow our users to create, update, delete, and export information within the SkyBox platform. These APIs allow SkyBox to be extensible, giving you the flexibility to grow, develop, and integrate third-party tooling to help scale out your business. To begin using the SkyBox APIs, you will need to generate two unique tokens: an Application Token and an API Token.\n\nTo request a unique Application Token, click here (<a href='https://skybox.vividseats.com/application-sign-up'>https://skybox.vividseats.com/application-sign-up</a>) and refer to this <a href='https://skybox.zendesk.com/hc/en-us/articles/6769735238043-Getting-Started-with-Skybox-APIs'>Zendesk Article</a> for detailed instructions on getting started with SkyBox APIs.\n\nTo generate an API Token when logged in to SkyBox, click on the drop-down under 'Logged In As:', select 'External Accounts', and then select 'API Invitation +'. A modal will appear and you will be prompted to enter the email address to which you want the token sent as well as to provide a brief description of the account.\n\nOnce you have both your Application Token and API Token, there are two ways in which you can make requests: through the UI and through a third party. See below for detailed steps for each process.\n\nRequests through the UI:\n\nTo begin, enter your Account ID in the X-Account field. Once complete, select _Authorize_. Next, enter your API Token in the X-Api-Token field. If you do not currently have an API Token, please follow the steps above to request one. Once complete, select _Authorize_. Last, enter your Application Token in the X-Application-Token field. If you do not have an Application Token, a sample is provided or you can follow the link above to request one. Once complete, select _Authorize_.\n\nRequests through a third party (i.e. Postman):\n\nThe same information is required as it is through the UI, but it will be passed in through headers. It should look something like this:\n\nX-Account: Account ID goes here!\n\nX-Api-Token: API Token goes here!\n\nX-Application-Token: Application Token goes here!\n\nOnce these three items are successfully passed in as headers, you will be able to make sample requests.\n\n<h2><a href='https://skybox.zendesk.com/hc/en-us/articles/5999881334427-SkyBox-API-Rate-Limits'>API Rate Limits</a> </h2>\n\nA rate limit consists of two variables: an interval and a limit. An interval is a period of time, measured in seconds. A limit is the number of calls that can be made to an endpoint in an interval.\n\nFor example, SkyBox’s ‘GET /reports/‘ endpoint has an interval of 1 second and a limit of 1 call per interval. This means that this endpoint has a rate limit of 1 call/second.\n\nEach endpoint, and its respective rate limit, is displayed in this <a href='https://skybox.zendesk.com/hc/en-us/articles/5999881334427-SkyBox-API-Rate-Limits'>Support Article</a>. If the endpoint is not listed, its rate limit is the default, indicated by the ‘*’ at the bottom of the table.\n",
    "termsOfService" : "https://skybox.vividseats.com/api-terms",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://skybox.vividseats.com/services",
    "description" : "Production",
    "variables" : { }
  }, {
    "url" : "http://torpedo.vividseats.com/services",
    "description" : "Stage",
    "variables" : { }
  } ],
  "security" : [ {
    "Application Token" : [ ]
  }, {
    "Authorization Token" : [ ]
  }, {
    "Account" : [ ]
  } ],
  "tags" : [ {
    "name" : "Account",
    "description" : "Account"
  }, {
    "name" : "Addresses",
    "description" : "Addresses"
  }, {
    "name" : "Alerts",
    "description" : "Alerts"
  }, {
    "name" : "Assets",
    "description" : "PDF Upload/Download"
  }, {
    "name" : "Credit Cards",
    "description" : "Credit Cards"
  }, {
    "name" : "Customers",
    "description" : "Customers"
  }, {
    "name" : "Enumerations",
    "description" : "Enumerations"
  }, {
    "name" : "Events",
    "description" : "Events"
  }, {
    "name" : "Event Positions",
    "description" : "Event Positions"
  }, {
    "name" : "External Accounts",
    "description" : "External Accounts"
  }, {
    "name" : "Holds",
    "description" : "Holds"
  }, {
    "name" : "Inventory",
    "description" : "Inventory"
  }, {
    "name" : "Invoices",
    "description" : "Invoices"
  }, {
    "name" : "Lines",
    "description" : "Lines"
  }, {
    "name" : "Mapping",
    "description" : "Mapping"
  }, {
    "name" : "Pricing Group",
    "description" : "Pricing Group"
  }, {
    "name" : "Purchases",
    "description" : "Purchases"
  }, {
    "name" : "Quick Reports",
    "description" : "Endpoints for quick reports"
  }, {
    "name" : "Quick Search",
    "description" : "Quick Search"
  }, {
    "name" : "Reports",
    "description" : "Reports"
  }, {
    "name" : "Research dashboard",
    "description" : "Endpoints for research dashboard"
  }, {
    "name" : "Skybox Drive",
    "description" : "Endpoints for interacting with Skybox Drive."
  }, {
    "name" : "Tags",
    "description" : "Tags"
  }, {
    "name" : "Tickets",
    "description" : "Tickets"
  }, {
    "name" : "Users",
    "description" : "Users"
  }, {
    "name" : "Vendors",
    "description" : "Vendors"
  }, {
    "name" : "Venues",
    "description" : "Venues"
  }, {
    "name" : "Webhooks",
    "description" : "Webhooks",
    "externalDocs" : {
      "description" : "Important Details on Using Webhooks:",
      "url" : "https://skybox.vividseats.com/api-docs/webhooks/"
    }
  } ],
  "paths" : {
    "/account" : {
      "get" : {
        "tags" : [ "Account" ],
        "description" : "Gets an account",
        "operationId" : "accountGet",
        "responses" : {
          "200" : {
            "description" : "account returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "account not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/account/notifications" : {
      "get" : {
        "tags" : [ "Account" ],
        "description" : "Get account notifications",
        "operationId" : "accountGetNotifications",
        "parameters" : [ {
          "name" : "Client-Timezone",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "notifications returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Notification"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/addresses/{address-id}" : {
      "get" : {
        "tags" : [ "Addresses" ],
        "description" : "Retrieves an address by the address id",
        "operationId" : "addressesGetById",
        "parameters" : [ {
          "name" : "address-id",
          "in" : "path",
          "description" : "The address id of the address",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "address returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "address not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Addresses" ],
        "description" : "Updates an address",
        "operationId" : "addressesUpdate",
        "parameters" : [ {
          "name" : "address-id",
          "in" : "path",
          "description" : "The address id of the address",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The address object to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Address"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "address updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Addresses" ],
        "description" : "Deletes an address by the address id",
        "operationId" : "addressesDeleteById",
        "parameters" : [ {
          "name" : "address-id",
          "in" : "path",
          "description" : "The address id of the address",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "address deleted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/addresses" : {
      "post" : {
        "tags" : [ "Addresses" ],
        "description" : "Creates an address",
        "operationId" : "addressesInsert",
        "requestBody" : {
          "description" : "An address object to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Address"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "address created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/alerts/{alert-id}" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Retrieves an alert by the alert id",
        "operationId" : "alertsGetById",
        "parameters" : [ {
          "name" : "alert-id",
          "in" : "path",
          "description" : "The alert id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "alert returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alert"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "alert not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Alerts" ],
        "description" : "Acknowledges an alert",
        "operationId" : "alertsAcknowledge",
        "parameters" : [ {
          "name" : "alert-id",
          "in" : "path",
          "description" : "The alert id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "alert acknowledged"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Retrieves all alerts",
        "operationId" : "alertsGetByAccount",
        "responses" : {
          "200" : {
            "description" : "alerts returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Alert"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/assets/{filename}" : {
      "get" : {
        "tags" : [ "Assets" ],
        "description" : "Retrieves a file, base64 encoded",
        "operationId" : "assetsGet",
        "parameters" : [ {
          "name" : "filename",
          "in" : "path",
          "description" : "Asset file name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File returned"
          },
          "401" : {
            "description" : "not authorized"
          },
          "500" : {
            "description" : "error contacting file store"
          },
          "404" : {
            "description" : "file not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/assets" : {
      "post" : {
        "tags" : [ "Assets" ],
        "description" : "Uploads a PDF and returns a list of details",
        "operationId" : "assetsUpload",
        "requestBody" : {
          "description" : "The byte array of the PDF",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PdfUpload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "PDF stored",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PdfDetails"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "500" : {
            "description" : "error storing PDF"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/credit_card/{id}" : {
      "get" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Retrieves a broker credit card by its id",
        "operationId" : "creditCardsGetById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the credit card.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "credit card returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditCard"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "credit card not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Deletes a credit card",
        "operationId" : "creditCardsDelete",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the credit card.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "credit card deleted"
          },
          "400" : {
            "description" : "invalid request"
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/credit_card/group/{id}" : {
      "get" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Retrieves a credit card group by its id",
        "operationId" : "creditCardsGetGroupById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the credit card group",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "credit card group returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditCardGroup"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "group not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Deletes a credit card group",
        "operationId" : "creditCardsDeleteGroup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the credit card group.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "card group deleted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/credit_card/group/{group-id}/cards" : {
      "get" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Gets all cards associated with a credit card group",
        "operationId" : "creditCardsGetCreditCards",
        "parameters" : [ {
          "name" : "group-id",
          "in" : "path",
          "description" : "The id of the credit card group.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "credit cards returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CustomerCard"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/credit_card" : {
      "get" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Retrieves a credit card  by account id",
        "operationId" : "creditCardsGetCreditCardsByAccountId",
        "responses" : {
          "200" : {
            "description" : "credit cards returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CreditCard"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "credit cards not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Updates a broker card",
        "operationId" : "creditCardsUpdate",
        "requestBody" : {
          "description" : "Credit card object to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCard"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCard"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "credit card has been updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditCard"
                }
              }
            }
          },
          "400" : {
            "description" : "invalid request"
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Creates a broker credit card",
        "operationId" : "creditCardsInsert",
        "requestBody" : {
          "description" : "Credit card object to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCard"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCard"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "credit card has been created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditCard"
                }
              }
            }
          },
          "400" : {
            "description" : "invalid request"
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/credit_card/group" : {
      "get" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Retrieves all credit card groups",
        "operationId" : "creditCardsQuery",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Direction to sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number of results to show",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "lastFourDigits",
          "in" : "query",
          "description" : "Last five digits of the credit card",
          "schema" : {
            "pattern" : "\\d{4,5}",
            "type" : "string"
          }
        }, {
          "name" : "cardType",
          "in" : "query",
          "description" : "Card type to filter",
          "schema" : {
            "type" : "string",
            "enum" : [ "AMEX", "DISCOVER", "MASTERCARD", "UNKNOWN", "VISA" ]
          }
        }, {
          "name" : "nameOnCard",
          "in" : "query",
          "description" : "Name on card",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "query",
          "description" : "Credit card group label to filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Field to sort by",
          "schema" : {
            "type" : "string",
            "enum" : [ "CARD_TYPE", "NAME_ON_CARD" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "credit card groups returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CreditCardGroup"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Updates a credit card group",
        "operationId" : "creditCardsUpdateGroup",
        "requestBody" : {
          "description" : "Card group object to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCardGroup"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCardGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "card group has been updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditCardGroup"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Credit Cards" ],
        "description" : "Creates a credit card group",
        "operationId" : "creditCardsInsertGroup",
        "requestBody" : {
          "description" : "Card group object to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCardGroup"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCardGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "credit card group has been created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditCardGroup"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/{customer-id}/cards" : {
      "get" : {
        "tags" : [ "Customers" ],
        "description" : "Gets all cards associated with a customer",
        "operationId" : "customersGetCards",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "credit cards returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CustomerCard"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Customers" ],
        "description" : "Adds a credit card to a customer",
        "operationId" : "customersAddCard",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The credit card object to add to the customer.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCard"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "credit card added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerCard"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/tags/remove" : {
      "post" : {
        "tags" : [ "Customers" ],
        "description" : "Deletes all tags from customers with given ids",
        "operationId" : "customersBulkRemoveTags",
        "requestBody" : {
          "description" : "Customer Ids",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "tags deleted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/bulk" : {
      "put" : {
        "tags" : [ "Customers" ],
        "description" : "Bulk Customer Update",
        "operationId" : "customersBulkUpdate",
        "requestBody" : {
          "description" : "Bulk customer update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkCustomerUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Updated"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "Invalid fields (See Json response in javax.validation.Validator format)"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/{customer-id}/tags/actions/delete" : {
      "post" : {
        "tags" : [ "Customers" ],
        "description" : "Deletes tags for a customer",
        "operationId" : "customersDelete",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The customer Id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "Tags to be removed from the customer",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/TagRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "tags deleted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/{customer-id}" : {
      "get" : {
        "tags" : [ "Customers" ],
        "description" : "Retrieves a customer by the customer id",
        "operationId" : "customersGetById",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "customer returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "customer not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Customers" ],
        "description" : "Updates a customer",
        "operationId" : "customersUpdate",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The customer object to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Customer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "customer has been updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/{customer-id}/cards/{card-id}" : {
      "get" : {
        "tags" : [ "Customers" ],
        "description" : "Retrieves a card associated with a customer",
        "operationId" : "customersGetCard",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "card-id",
          "in" : "path",
          "description" : "The card id associated to the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "credit card returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerCard"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Customers" ],
        "description" : "Deletes a card associated with a customer",
        "operationId" : "customersRemoveCard",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "card-id",
          "in" : "path",
          "description" : "The card id associated to the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "card deleted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/defaults" : {
      "get" : {
        "tags" : [ "Customers" ],
        "description" : "Retrieves default customers for the account",
        "operationId" : "customersGetDefaultsById",
        "responses" : {
          "200" : {
            "description" : "account default customers returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DefaultCustomer"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "customer not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Customers" ],
        "description" : "Updates a default customer",
        "operationId" : "customersUpdateDefault",
        "requestBody" : {
          "description" : "The default customer object to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DefaultCustomer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "customer has been updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultCustomer"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers" : {
      "get" : {
        "tags" : [ "Customers" ],
        "description" : "Retrieves all customers",
        "operationId" : "customersSearch",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Direction to sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number of results to show",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "customerType",
          "in" : "query",
          "description" : "Customer types to filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MARKETPLACE", "PERFORMER", "BROKER", "RETAIL", "CONCIERGE", "TRAVELAGENT", "MEMBER" ]
            }
          }
        }, {
          "name" : "tag",
          "in" : "query",
          "description" : "Whitespace separated list of tags to search by",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "tagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "antiTag",
          "in" : "query",
          "description" : "Tags to exclude",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "antiTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should not have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Id search filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Display name search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Email search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "Last name search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "company",
          "in" : "query",
          "description" : "Company search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "City search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Country search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "phone",
          "in" : "query",
          "description" : "Phone number to search by (matching phone 1 and phone 2 fields)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "State search filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "invoiceDateFrom",
          "in" : "query",
          "description" : "From Invoice Date filter",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "invoiceDateTo",
          "in" : "query",
          "description" : "To Invoice Date filter",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sortedBy",
          "in" : "query",
          "description" : "Field to sort by",
          "schema" : {
            "type" : "string",
            "enum" : [ "ID", "DISPLAY_NAME", "CUSTOMER_TYPE", "EMAIL", "LAST_NAME", "COMPANY", "CITY", "STATE", "COUNTRY" ]
          }
        }, {
          "name" : "arThresholdReached",
          "in" : "query",
          "description" : "Whether arThreshold is Reached to search by",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "createdDateFrom",
          "in" : "query",
          "description" : "From created date filter",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdDateTo",
          "in" : "query",
          "description" : "To created date filter",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "paymentMethod",
          "in" : "query",
          "description" : "Payment method",
          "schema" : {
            "type" : "string",
            "enum" : [ "CREDITCARD", "CASH", "CHECK", "PAYPAL", "TRADE", "VENMO", "OTHER", "ACCRUEDCREDIT", "ACH", "AR", "AP", "EVOPAY", "MULTIPLE", "COMPLIMENTARY", "CUSTOMER_CREDIT", "ZELLE" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "customers returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Customers" ],
        "description" : "Creates a customer",
        "operationId" : "customersInsert",
        "requestBody" : {
          "description" : "A customer object to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Customer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "customer has been created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/{customer-id}/cards/{card-id}/default" : {
      "put" : {
        "tags" : [ "Customers" ],
        "description" : "Set a card associated with a customer as the default card",
        "operationId" : "customersSetDefaultCard",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "card-id",
          "in" : "path",
          "description" : "The card id associated to the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default credit card updated"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/customers/{customer-id}/tags" : {
      "post" : {
        "tags" : [ "Customers" ],
        "description" : "Inserts a new tags for a customer. Duplicates are ignored",
        "operationId" : "customersTag",
        "parameters" : [ {
          "name" : "customer-id",
          "in" : "path",
          "description" : "The id of the customer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "Tags to be removed from the customer",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/TagRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "tag inserted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/enumerations/{enumtype}" : {
      "get" : {
        "tags" : [ "Enumerations" ],
        "description" : "Retrieves available enumerations",
        "operationId" : "enumerationsEnumeration",
        "parameters" : [ {
          "name" : "enumtype",
          "in" : "path",
          "description" : "The type of enumeration",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "account_setting_categories", "account_setting_names", "audit_action", "audit_entity", "card_type", "consignment_sale_status", "country_type", "currency", "customer_type", "delivery_method", "email_protocol", "event", "field_name", "fulfillment_status", "hold_status", "holding_marketplace", "instant_transfer_status", "integration_provider", "inventory_status", "invoice_status", "line_item_type", "line_type", "marketplace", "payment_method", "payment_status", "permission", "permission_category", "purchase_status", "report_categories,", "seat", "state_type", "term", "ticket_split_type", "ticket_status", "ticket_stock_type", "ups_shipping_charge_status", "ups_shipping_confirmation_type", "ups_shipping_service_code", "vendor_type", "automator" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "enumeration list returned"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "incorrect request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/tags/remove" : {
      "post" : {
        "tags" : [ "Events" ],
        "description" : "Deletes all tags from events with given ids",
        "operationId" : "eventsBulkRemoveTags",
        "requestBody" : {
          "description" : "Event Ids",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "tags deleted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/{event-id}/tags/actions/delete" : {
      "post" : {
        "tags" : [ "Events" ],
        "description" : "Deletes tags for an event",
        "operationId" : "eventsDelete",
        "parameters" : [ {
          "name" : "event-id",
          "in" : "path",
          "description" : "The event Id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "Tags to be removed from the event",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/TagRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "tags deleted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/{event_id}/deltas" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Retrieves event deltas",
        "operationId" : "eventsFindEventDeltas",
        "parameters" : [ {
          "name" : "event_id",
          "in" : "path",
          "description" : "The id of the event to retrieve",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Event deltas returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventDelta"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/{event-id}" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Returns an event",
        "operationId" : "eventsGet",
        "parameters" : [ {
          "name" : "event-id",
          "in" : "path",
          "description" : "The id of the event to retrieve",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "event returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Event"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "event not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/categories" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Retrieves all categories",
        "operationId" : "eventsGetCategories",
        "responses" : {
          "200" : {
            "description" : "categories returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/performers/{performer-id}" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Retrieves a performer by the performer id",
        "operationId" : "eventsGetPerformerById",
        "parameters" : [ {
          "name" : "performer-id",
          "in" : "path",
          "description" : "Performer id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "performer returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Performer"
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          },
          "404" : {
            "description" : "performer not found"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/performers" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Retrieves all performers",
        "operationId" : "eventsGetPerformers",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "performers returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Performer"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Retrieves filtered events",
        "operationId" : "eventsIndex",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Page number of results to show. Limit size for Event searches is: 1000",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Direction to sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number of results to show",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "tag",
          "in" : "query",
          "description" : "Tags to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "tagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "antiTag",
          "in" : "query",
          "description" : "Tags to exclude",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "antiTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should not have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "event",
          "in" : "query",
          "description" : "Event search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventType",
          "in" : "query",
          "description" : "Event Type",
          "schema" : {
            "type" : "string",
            "enum" : [ "CONCERT", "THEATER", "SPORT", "OTHER" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Category ID filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Category",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "venueId",
          "in" : "query",
          "description" : "The id of a venue",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "venue",
          "in" : "query",
          "description" : "Venue search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "City search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "State search filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Country search filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "eventDateFrom",
          "in" : "query",
          "description" : "Minimum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventDateTo",
          "in" : "query",
          "description" : "Maximum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventTimeFrom",
          "in" : "query",
          "description" : "Only search events starting not earlier than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "eventTimeTo",
          "in" : "query",
          "description" : "Only search events starting not later than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "keywords",
          "in" : "query",
          "description" : "Search Keywords",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "eventId",
          "in" : "query",
          "description" : "Event ID",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "performerId",
          "in" : "query",
          "description" : "Performer ID filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "dayOfWeek",
          "in" : "query",
          "description" : "Day of the week of events that occur on that day of the week",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "excludeParking",
          "in" : "query",
          "description" : "Whether parking events are excluded",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "excludeActiveInventory",
          "in" : "query",
          "description" : "Whether active inventories are excluded",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "noTags",
          "in" : "query",
          "description" : "Only return events with no tags",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "sortedBy",
          "in" : "query",
          "description" : "Field to sort by",
          "schema" : {
            "type" : "string",
            "enum" : [ "ID", "DATE", "EVENT_NAME", "VENUE_NAME", "VENUE_CITY", "VENUE_STATE", "EVENT_TYPE", "CATEGORY_NAME", "MY_SOLD_TICKETS", "TICKET_COUNT", "MY_CANCELLED_TICKETS", "PERFORMER_NAME" ]
          }
        }, {
          "name" : "onlySoldTickets",
          "in" : "query",
          "description" : "Get events with only sold tickets. Default value is false",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "events returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/events/{event-id}/tags" : {
      "post" : {
        "tags" : [ "Events" ],
        "description" : "Inserts a new tags for an event. Duplicates are ignored",
        "operationId" : "eventsTag",
        "parameters" : [ {
          "name" : "event-id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/TagRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "tag inserted"
          },
          "401" : {
            "description" : "not authorized"
          },
          "400" : {
            "description" : "invalid request"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/event_positions/totals" : {
      "get" : {
        "tags" : [ "Event Positions" ],
        "description" : "Retrieves event positions totals",
        "operationId" : "eventPositionsEventPositionsTotals",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Direction to sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number of results to show",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "section",
          "in" : "query",
          "description" : "Section search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "row",
          "in" : "query",
          "description" : "Row search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listed",
          "in" : "query",
          "description" : "Whether inventories are listed",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "eventId",
          "in" : "query",
          "description" : "Event Id to search by",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "event",
          "in" : "query",
          "description" : "Event search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "keywords",
          "in" : "query",
          "description" : "Search Keywords",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "eventDateFrom",
          "in" : "query",
          "description" : "Minimum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventDateTo",
          "in" : "query",
          "description" : "Maximum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventTimeFrom",
          "in" : "query",
          "description" : "Only search events starting not earlier than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "eventTimeTo",
          "in" : "query",
          "description" : "Only search events starting not later than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "dayOfWeek",
          "in" : "query",
          "description" : "Day of the week of events that occur on that day of the week",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "eventType",
          "in" : "query",
          "description" : "Event Type search filter",
          "schema" : {
            "type" : "string",
            "enum" : [ "CONCERT", "THEATER", "SPORT", "OTHER" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Category Id search filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Category search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "venueId",
          "in" : "query",
          "description" : "Venue Id search filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "venue",
          "in" : "query",
          "description" : "Venue search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "City search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "State search filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "performerId",
          "in" : "query",
          "description" : "Performer Id filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "tagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "antiTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should not have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "inventoryTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all inventory tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "noTags",
          "in" : "query",
          "description" : "Inventory tags to exclude",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "excludeOnlyZoneInventory",
          "in" : "query",
          "description" : "Whether to exclude events with all zoned inventories",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "excludeParking",
          "in" : "query",
          "description" : "Whether parking events are excluded",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "sortedBy",
          "in" : "query",
          "description" : "Field to sort by",
          "schema" : {
            "type" : "string",
            "enum" : [ "EVENT_DATE", "EVENT_NAME", "VENUE_NAME", "VENUE_CITY", "VENUE_STATE", "QUANTITY", "COST", "EVENT_TYPE", "CATEGORY_NAME", "LAST_PRICE_UPDATE", "LAST_SALE" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "events positions totals returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventPosition"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/event_positions/values" : {
      "get" : {
        "tags" : [ "Event Positions" ],
        "description" : "Retrieves event positions without totals",
        "operationId" : "eventPositionsEventPositionsValues",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Direction to sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number of results to show",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "section",
          "in" : "query",
          "description" : "Section search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "row",
          "in" : "query",
          "description" : "Row search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listed",
          "in" : "query",
          "description" : "Whether inventories are listed",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "eventId",
          "in" : "query",
          "description" : "Event Id to search by",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "event",
          "in" : "query",
          "description" : "Event search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "keywords",
          "in" : "query",
          "description" : "Search Keywords",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "eventDateFrom",
          "in" : "query",
          "description" : "Minimum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventDateTo",
          "in" : "query",
          "description" : "Maximum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventTimeFrom",
          "in" : "query",
          "description" : "Only search events starting not earlier than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "eventTimeTo",
          "in" : "query",
          "description" : "Only search events starting not later than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "dayOfWeek",
          "in" : "query",
          "description" : "Day of the week of events that occur on that day of the week",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "eventType",
          "in" : "query",
          "description" : "Event Type search filter",
          "schema" : {
            "type" : "string",
            "enum" : [ "CONCERT", "THEATER", "SPORT", "OTHER" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Category Id search filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Category search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "venueId",
          "in" : "query",
          "description" : "Venue Id search filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "venue",
          "in" : "query",
          "description" : "Venue search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "City search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "State search filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "performerId",
          "in" : "query",
          "description" : "Performer Id filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "tagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "antiTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should not have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "inventoryTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all inventory tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "noTags",
          "in" : "query",
          "description" : "Inventory tags to exclude",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "excludeOnlyZoneInventory",
          "in" : "query",
          "description" : "Whether to exclude events with all zoned inventories",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "excludeParking",
          "in" : "query",
          "description" : "Whether parking events are excluded",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "sortedBy",
          "in" : "query",
          "description" : "Field to sort by",
          "schema" : {
            "type" : "string",
            "enum" : [ "EVENT_DATE", "EVENT_NAME", "VENUE_NAME", "VENUE_CITY", "VENUE_STATE", "QUANTITY", "COST", "EVENT_TYPE", "CATEGORY_NAME", "LAST_PRICE_UPDATE", "LAST_SALE" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "events positions without totals returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventPosition"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/event_positions/categories" : {
      "get" : {
        "tags" : [ "Event Positions" ],
        "description" : "Retrieves event positions grouped by category",
        "operationId" : "eventPositionsGetCategories",
        "responses" : {
          "200" : {
            "description" : "categories returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/event_positions/performers" : {
      "get" : {
        "tags" : [ "Event Positions" ],
        "description" : "Retrieves event positions grouped by performer",
        "operationId" : "eventPositionsGetPerformers",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Direction to sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number of results to show",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "performerId",
          "in" : "query",
          "description" : "Performer Id search filter",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "performer",
          "in" : "query",
          "description" : "Performer name search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventType",
          "in" : "query",
          "description" : "Event Type search filter",
          "schema" : {
            "type" : "string",
            "enum" : [ "CONCERT", "THEATER", "SPORT", "OTHER" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Category Id search filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "eventDateFrom",
          "in" : "query",
          "description" : "Minimum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventDateTo",
          "in" : "query",
          "description" : "Maximum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "dayOfWeek",
          "in" : "query",
          "description" : "Day of the week of events that occur on that day of the week",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "excludeParking",
          "in" : "query",
          "description" : "Whether parking events are excluded",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "sortedBy",
          "in" : "query",
          "description" : "Field to sort by",
          "schema" : {
            "type" : "string",
            "enum" : [ "NAME" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "events returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PerformerPosition"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
          "Authorization Token" : [ ]
        }, {
          "Account" : [ ]
        } ]
      }
    },
    "/event_positions" : {
      "get" : {
        "tags" : [ "Event Positions" ],
        "description" : "Retrieves event positions",
        "operationId" : "eventPositionsIndex",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortDir",
          "in" : "query",
          "description" : "Direction to sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number of results to show",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "section",
          "in" : "query",
          "description" : "Section search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "row",
          "in" : "query",
          "description" : "Row search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "listed",
          "in" : "query",
          "description" : "Whether inventories are listed",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "eventId",
          "in" : "query",
          "description" : "Event Id to search by",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "event",
          "in" : "query",
          "description" : "Event search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "keywords",
          "in" : "query",
          "description" : "Search Keywords",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "eventDateFrom",
          "in" : "query",
          "description" : "Minimum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventDateTo",
          "in" : "query",
          "description" : "Maximum event date in yyyy-MM-dd format",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventTimeFrom",
          "in" : "query",
          "description" : "Only search events starting not earlier than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "eventTimeTo",
          "in" : "query",
          "description" : "Only search events starting not later than",
          "schema" : {
            "type" : "string",
            "format" : "partial-time"
          }
        }, {
          "name" : "dayOfWeek",
          "in" : "query",
          "description" : "Day of the week of events that occur on that day of the week",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "eventType",
          "in" : "query",
          "description" : "Event Type search filter",
          "schema" : {
            "type" : "string",
            "enum" : [ "CONCERT", "THEATER", "SPORT", "OTHER" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Category Id search filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Category search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "venueId",
          "in" : "query",
          "description" : "Venue Id search filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "venue",
          "in" : "query",
          "description" : "Venue search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "City search filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "State search filter",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "performerId",
          "in" : "query",
          "description" : "Performer Id filter",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "tagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "antiTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should not have all the tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "inventoryTagsMatchAll",
          "in" : "query",
          "description" : "Whether the results should have all inventory tags or only some",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "noTags",
          "in" : "query",
          "description" : "Inventory tags to exclude",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "excludeOnlyZoneInventory",
          "in" : "query",
          "description" : "Whether to exclude events with all zoned inventories",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "excludeParking",
          "in" : "query",
          "description" : "Whether parking events are excluded",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "sortedBy",
          "in" : "query",
          "description" : "Field to sort by",
          "schema" : {
            "type" : "string",
            "enum" : [ "EVENT_DATE", "EVENT_NAME", "VENUE_NAME", "VENUE_CITY", "VENUE_STATE", "QUANTITY", "COST", "EVENT_TYPE", "CATEGORY_NAME", "LAST_PRICE_UPDATE", "LAST_SALE" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "events returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventPosition"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "not authorized"
          }
        },
        "security" : [ {
          "Application Token" : [ ]
        }, {
[...]
